@media screen and (max-width: 480px) {
    button.makeStyles-btn-6 {
        width: 130px;
        height: 30px;
    }
    h5.MuiTypography-root.MuiTypography-h5.MuiTypography-alignLeft {
        font-size: 1.2rem;  
    }         
  }